<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
		<title>invitation</title>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="./assets/base.css" rel="stylesheet">
		<link href="./assets/snow.css" rel="stylesheet">
		<!--link href="./font/bootstrap-icons.css" rel="stylesheet"-->
	</head>
  <body topmargin="0" oncontextmenu="return false" ondragstart="return false" onselectstart ="return false" oncopy="document.selection.empty()" onbeforecopy="return false">
	<audio id="audio_music" preload="auto" oncanplay="music_load_complete()" autobuffer hidden>
		<source src="./music/didi.mp3" type="audio/mpeg">
		<source src="./music/Time To Love-October fast.mp3" type="audio/mpeg">
	</audio>  
	<div class="modal fade" id="dialogModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content"  id="dialogButton">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">警 告</h5>
					<button type="button" class="btn-close" aria-label="Close" v-on:click='confirm_quit'></button>
				</div>
				<div class="modal-body" style="font-family:'STHeiti'">
					<font >我将连接你的手机执行程序，请点击确认进行操作？</font>
				</div>
				<div class="modal-footer" >
					<button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" hidden>退出</button>
					<button type="button" class="btn btn-primary" v-on:click='confirm_enter'>确 认</button>
				</div>
			</div>
		</div>
	</div>
  
	<div class="modal fade" id="envelopeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header" hidden>
					<h5 class="modal-title" id="staticBackdropLabel">title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" style="padding: 0px;">
					<!--img style="width:100%;" src="./assets/invitation.jpg"-->
					<div class="container">
						<div class="flip"></div>
						<div class="envelope" onclick="envelopeToggle();"></div>
						<div class="letter">
							<img style="width:100%;" src="./assets/invitation.jpg">
							<div class="text-center" style="vertical-align: middle;float: none;">
								<div id="snow_scene">
								</div>
								<div style="margin:0rem;">
									<img width="64" height="64" src="./assets/bird.svg">
									<font class="text-dark" style="font-size: 2rem;font-family:'SimHei'">&nbsp婚 礼 请 柬&nbsp</font>
									<img width="64" height="64" src="./assets/bird_t.svg">
								</div>
								<div style="margin:1rem;">
									<h4 style="font-family:'KaiTi'">&nbsp李&nbsp廷<img class='beat_heart' width="24" height="24" src="./assets/heart-red.svg">温婷婷</h4>
								</div>
								<div style="margin:1rem;">
									<h6 style="font-family:'STKaiti'"><img width="24" height="24" src="./assets/alarm.svg" hidden> 2021年1月30号 星期六 11:00点</h6>
								</div>
								<div style="margin:1rem;">
									<h6 style="font-family:'FangSong'"><img width="24" height="24" src="./assets/geo.svg" hidden> 四川省绵阳市涪城区杨家镇国际香草园内</h6>
								</div>
								<div style="margin:1rem;">
									<font style="font-family:'FangSong'">诚邀您和您的家人参加我们的婚礼</font>
								</div>
								<div style="margin:1rem;" hidden>
									<img class='beat_heart' width="24" height="24" src="./assets/heart-red.svg">
								</div>
							</div>
						</div>
						<div class="seal" onclick="envelopeToggle();">
							<img width="48" height="48" src="./assets/award-fill.svg">
							<img width="48" height="48" src="./assets/bookmark-heart.svg" hidden>
							<img width="48" height="48" src="./assets/bookmark-heart-fill.svg" hidden>
						</div>
					</div>
				</div>
				<div class="modal-footer" hidden>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
					<button type="button" class="btn btn-primary">Understood</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="wedding">
		<div class="wedding-editor">
			<header class="editor-header">
				<a href="javascript:;" one-link-mark="yes"></a>
				<a href="javascript:;" class="minimum" one-link-mark="yes"></a>
				<a href="javascript:;" class="maximum" one-link-mark="yes"></a>
			</header>
			<p class="code" id="code">
				<template v-for="value in content">
					<li><font v-html="value.head"></font><vue-typer :text="value.text" :repeat='0' :type-delay="value.delay" @completed='onComplete'></vue-typer></li>
					<div style='text-align:center;' v-if='value.heart' v-on:click='click_heart'><span class='icon_heart'>{{value.heart}}</span></div>
				</template>	
			</p>
		</div>
	</div>
	

  </body>
  <script> 
	var code_content=[
		{head:"",text:"正在连接你的手机",delay:70},
		{head:"等待连接 ",text:"...",delay:800},
		{head:"连接成功!",text:" ",delay:300},
		{head:"<br>",text:"Welcome to Friend 1.0 LTS",delay:50},
		{head:"<br>",text:"",delay:50},
		{head:"<font color='Silver'>[root ~]# </font>",text:"创建一个 home 脚本",delay:100},
		{head:"<font color='Cyan'>创建完成!!</font>",text:" ",delay:100},
		{head:"<font color='Silver'>[root ~]# </font>",text:"添加 LT 和 WTT 代码",delay:200},
		{head:"<font color='Silver'>添加代码完成!!</font>",text:" ",delay:500},
		{head:"<font color='Silver'>[root ~]# </font>",text:"添加 sadness 条件",delay:200},
		{head:"<font color='Red'>添加条件失败!! </font>",text:" ",delay:500},
		{head:"<font color='Silver'>[root ~]# </font>",text:"添加 happiness 条件",delay:200},
		{head:"<font color='Cyan'>添加条件完成! </font>",text:" ",delay:500},
		{head:"<font color='Silver'>[root ~]# </font>",text:"运行代码 ",delay:200},
		{head:"<font color='Red'>运行失败!条件不够!</font>",text:" ",delay:200},
		{head:"<font color='Silver'>[root ~]# </font>",text:"添加 money 条件",delay:200},
		{head:"<font color='Red'>错误的 money 条件!! </font>",text:" ",delay:500},
		{head:"<font color='Silver'>[root ~]# </font>",text:"添加 love 条件",delay:200},
		{head:"<font color='Cyan'>添加条件完成! </font>",text:" ",delay:500},
		{head:"<font color='Silver'>[root ~]# </font>",text:"运行代码 ",delay:100},
		{head:"<font color='Cyan'>编译代码 </font>",text:"[=============] 100%",delay:60},
		{head:"<font color='Cyan'>运行代码 </font>",text:"[=============] 100%",delay:60},
		{head:"<font color='Cyan'>创建信封 </font>",text:"[=============] 100%",delay:180},
		/*{head:"<font color='#00FFFF'>[root@liting ~]# </font>",text:"finished",delay:20,heart:" "},*/
	]
	var VueTyperPlugin = window.VueTyper.default;
	Vue.use(VueTyperPlugin);
	
	var dialogModal = new bootstrap.Modal(document.getElementById('dialogModal'), {
		backdrop: 'static',//点击背景是否能被关闭
		keyboard: false
	});
	var imgModal = new bootstrap.Modal(document.getElementById('envelopeModal'), {
		backdrop: 'static',//点击背景是否能被关闭
		keyboard: false
	});

	var vm = new Vue({
		el: '#code',
		data: {
		dialog: true,
		index:0,
		content: [
			//code_content[0]
			]
		},
		methods: {
			onComplete: function() {
				if(++this.index < code_content.length){
					this.content.push(code_content[this.index]);
					document.getElementById("audio_music").play();
				}else{
					setTimeout(function(){
						imgModal.show();
					},1000);
				}
				document.getElementById("code").scrollIntoView(false);//底部显示
			},
			click_heart:function(event){
				console.log("click heart");
				imgModal.show();
			}
		},
	})
	
	let envelopeStatus = false;
	function envelopeOpen(){
		let flip = document.querySelector('.flip');
		let envelope = document.querySelector('.envelope');
		let letter = document.querySelector('.letter');
		let seal = document.querySelector('.seal');
		envelopeStatus = "switching";
		seal.classList.add('sealOpen');
		seal.classList.remove('sealClose');
		flip.classList.add('flipOpen');
		flip.classList.remove('flipClose');
		setTimeout(function(){
			envelope.classList.add('envelopeOpen');
			envelope.classList.remove('envelopeClose');
			letter.classList.add('letterOpen');
			letter.classList.remove('letterClose');
			envelopeStatus = true;
		},600);
	}
	function envelopeClose(){
		let flip = document.querySelector('.flip');
		let envelope = document.querySelector('.envelope');
		let letter = document.querySelector('.letter');
		let seal = document.querySelector('.seal');
		envelopeStatus = "switching";
		letter.classList.remove('letterOpen');
		letter.classList.add('letterClose');
		envelope.classList.remove('envelopeOpen');
		envelope.classList.add('envelopeClose');
		setTimeout(function(){
			flip.classList.remove('flipOpen');
			flip.classList.add('flipClose');
			seal.classList.remove('sealOpen');
			seal.classList.add('sealClose');
			envelopeStatus = false;
		},1000);
	}
	function envelopeToggle(){
		if(envelopeStatus === "switching"){
			return;
		}
		if(envelopeStatus){
			envelopeClose();
			closemusic();
		}else{
			envelopeOpen();
			playmusic("Time To Love-October fast.mp3");
		}
	}
	new Vue({
		el: '#dialogButton',
		methods: {
			confirm_enter: function(){
				dialogModal.hide();
				playmusic("didi.mp3");
				vm.content.push(code_content[0]);
			},
			confirm_quit: function(){
				window.location.href="about:blank";
				window.close(); 
			}
		}
	});
	function playmusic(music){
		var audio = document.getElementById("audio_music");
		audio.src = `./music/${music}`;
		audio.play();
	}
	function closemusic(){
		var audio = document.getElementById("audio_music");
		audio.pause();
	}
	window.onload = function(){
		setTimeout(function(){
			dialogModal.show();
			//imgModal.show();
			add_snow_scene(200);//添加下雪
		},2000);
	}
	function music_load_complete(){
		//console.log("music load complete");
		//alert("music_load_complete");
	}
	function add_snow_scene(count){
		var scene = document.getElementById("snow_scene")
		for(let i=0;i<count;i++){
			scene.innerHTML=scene.innerHTML + "<div class='snow'>&#10052;</div>";
		}
	}
  </script>
  

</html>